# --------------------
# Frontend
# --------------------
FRONTEND_PORT=5173

# --------------------
# Backend
# --------------------
BACKEND_PORT=3000

# --------------------
# Database
# --------------------
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=smart-room

# --------------------
# PgAdmin
# --------------------
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@local.com
PGADMIN_PASSWORD=password

# --------------------
# Mailpit
# --------------------
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
